*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    background:#1F2937 ;
    height: 100px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    padding-top:15px ;
}
ul{
    list-style: none;
    display: flex;
    padding-top: 20px;

    
}
a{
    text-decoration: none;
    color: #E5E7EB;
    padding-left: 15px;
    font-size: 18px;
    
}
.big-letter{
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    height: 350px;
    margin: auto;

}
.titel{
    
    height: 200px;
    width: 400px;
    padding: 10px;
}
.titel div{
    font-size: 48px;
    font-weight:600;
    color: #F9FAF8;
}
.titel p{
    font-size: 18px;
    color: #E5E7EB;

}
.titel button{
    background: #3882F6;
    font-size: 15px;
    border-radius: 10px;
    width: 90px;
}
.pic{
    background: #aaa;
    border: 2px solid black;
    display: flex;
    height: 200px;
    width: 400px;
    
}
.pic p{
    color: #F9FAF8;
    text-align: center;
    margin: auto;
}
.item .info{
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    text-align: center;
    padding-bottom:20px ;
    padding-top: 30px;
}
.con{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;  
}
.flex .space{
    border:2px solid #3882F6;
    display: flex;
    height: 140px;
    width: 150px;
    border-radius: 10%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.flex p{
    border: 2px solid white;
    height:140px ;
    width: 150px;
}
.note{
    background:#E5E7EB ;
    height: 350px;  
}
.note div{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;   
}
.note div p{
    font-weight: 600;
    font-size: 20px;
    text-align:right;
    display: flex;
    align-items: flex-end;
    
}
.model-flex{
    display: flex;
    height:300px;  
}
.model{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border: none;
    border-radius: 10px;
    height: 110px;
    width: 800px;
    color: #E5E7EB;
    background: #3882F6;
    margin: auto;
    padding: 20px;
    align-items: center;
}
.model button{
    height: 30px;
    border:2px solid white;
    border-radius: 10px;
    width: 90px;
    background: #3882F6;
    margin: auto;
    transition: transform .3s ease-out;
    color: #E5E7EB;
}
.model button:hover{
    transform: scale(1.1);
}
.inner{
    margin: auto;

}
.inner div{
    font-size: 20px;
    font-weight: 600;
       
}
.inner p{
    color: #E5E7EB;
    font-size: 16px;
}
footer{
    background: #1F2937;
    height: 80px;
}
footer p{
    color: #F9FAF8;
    text-align: center;
    padding: 27px;
    font-size: 19px;
}






